
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/progressbar">
        ProgressbarIO
      </a>
      <ul class="nav">
        <li>
          <a href="/progressbar">
            Home
          </a>
        </li>
        <li>
          <a href="/progressbar/api">
            API
          </a>
        </li>
        <li>
          <a href="/progressbar/about">
            About
          </a>
        </li>
        <li>
          <a href="/progressbar/contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <h1>
      What is ProgressbarIO?
    </h1>
    <p>
      ProgressbarIO is an open source project developed to provide people with
      a nice, advanced progressbar to just copy and paste into any website.
      <br>
      <br>
      If you have questions how to use the app, <a href="http://www.youtube.com/watch?v=nj59em6C0lo&feature=youtu.be">please see this video here.</a>
      <br>
      <br>
      We're currently in Beta mode, making large improvements everyday. If you
      would like to help out, please send us an email (See our contact page).
      <br>
      <br>
      If you would like to help out, then fork off the main repository here: <a href="https://github.com/rhintz42/progressbario_widget.git">https://github.com/rhintz42/progressbario_widget.git</a>
    </p>
  </div>
</div>