
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/progressbar">
        ProgressbarIO
      </a>
      <ul class="nav">
        <li>
          <a href="/progressbar">
            Home
          </a>
        </li>
        <li>
          <a href="/progressbar/api">
            API
          </a>
        </li>
        <li>
          <a href="/progressbar/about">
            About
          </a>
        </li>
        <li>
          <a href="/progressbar/contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <h1>
      API
    </h1>
    <p>
      Here is the API for using Progressbar IO. Examples for each will come shortly.
    </p>
  </div>
  <div>
    <div>
      <h3>
        Filling
      </h1>
    </div>
    <div style="margin-left: 20px;">
      <p>
        clientNumMin
      </p>
      <p>
        clientNumMax
      </p>
      <p>
        clientNumCurrent
      </p>
      <p>
        fillColor
      </p>
      <p>
        nameID
      </p>
      <p>
        xOffset
      </p>
      <p>
        fillWidth
      </p>
      <p>
        yOffset
      </p>
      <p>
        initialHeight
      </p>
    </div>
  </div>

  <div>
    <div>
      <h3>
        Progressbar Container
      </h3>
    </div>
    <div style="margin-left: 20px;">
      <p>
        topMarginPercent
      </p>
      <p>
        bottomMarginPercent
      </p>
      <p>
        rightMarginPercent
      </p>
      <p>
        leftMarginPercent
      </p>
    </div>
  </div>

  <div>
    <div>
      <h3>
        Progressbar Object
      </h3>
    </div>
    <div style="margin-left: 20px;">
      <p>
        progressbarImgName
      </p>
    </div>
  </div>

  <div>
    <div>
      <h3>
        Message
      </h3>
    </div>
    <div style="margin-left: 20px;">
      <p>
        fontSize
      </p>
      <p>
        x
      </p>
      <p>
        y
      </p>
      <p>
        initialText
      </p>
      <p>
        fontFamily
      </p>
      <p>
        title
      </p>
      <p>
        fontColor
      </p>
    </div>
  </div>

  <div>
    <div>
      <h3>
        Messages Container
      </h3>
    </div>
    <div style="margin-left: 20px;">
      <p>
        percentComplete
      </p>
      <p>
        inversePercentComplete
      </p>
      <p>
        clientNumMax
      </p>
      <p>
        clientNumMin
      </p>
      <p>
        clientNumCurrent
      </p>
    </div>
  </div>
  
  <div>
    <div>
      <h3>
        Tick
      </h3>
    </div>
    <div style="margin-left: 20px;">
      <p>
        xOffset
      </p>
      <p>
        yOffset
      </p>
      <p>
        width
      </p>
      <p>
        height
      </p>
      <p>
        stroke
      </p>
      <p>
        fill
      </p>
      <p>
        strokeWidth
      </p>
      <p>
        name
      </p>
    </div>
  </div>

  <div>
    <div>
      <h3>
        Tick Organizer
      </h3>
    </div>
    <div style="margin-left: 20px;">
      <p>
        tickOrganizerXOffset
      </p>
      <p>
        tickOrganizerYOffset
      </p>
      <p>
        maxTickWidth
      </p>
      <p>
        maxTickHeight
      </p>
      <p>
        tickStroke
      </p>
      <p>
        fillColor
      </p>
      <p>
        maxStrokeWidth
      </p>
      <p>
        tickOrganizerName
      </p>
      <p>
        numTicks
      </p>
    </div>
  </div>
</div>