
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/progressbar">
        ProgressbarIO
      </a>
      <ul class="nav">
        <li>
          <a href="/progressbar">
            Home
          </a>
        </li>
        <li>
          <a href="/progressbar/api">
            API
          </a>
        </li>
        <li>
          <a href="/progressbar/about">
            About
          </a>
        </li>
        <li>
          <a href="/progressbar/contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <h1>
      API
    </h1>
    <p>
      Here is the API for using Progressbar IO
    </p>
  </div>
</div>