
//$(document).ready(function() {
    var progressbarObj = new Object;

    <% if @progressbar_obj_json then %>
      progressbarObj = JSON.parse('<%= raw @progressbar_obj_json %>');
    <% end %>

    var div = $("#container");
    div.remove();
    //CAN GET THE TRUE HEIGHT/WIDTH OF THE PROGRESSBAR FROM GETTING IT FROM THE progressbarObj Object
    $("#container_wrapper").append('<div id="container" style="border: 2px solid; height: 600px; width: 600px"></div>');
    
    var progressbar = new Progressbar(progressbarObj);
//});

<% if false then %>
  <%= j render("progressbar") %>
<% end %>
